<%= form_tag students_show_path do %>
<p>
	<%= label_tag "name" %>
	<%= text_field_tag :name %>
</p>
<p>
	<%= label_tag "age" %>
	<%= text_field_tag :age %>
</p>
<p>
	<%= label_tag 'male' %> <%= radio_button_tag 'gender', 'male' %>
	<%= label_tag 'female' %> <%= radio_button_tag 'gender', 'male' %>
</p>
<p>
	<%= label_tag 'address' %>
	<%= text_area_tag :address %>
	
</p>
<p>
	<%= submit_tag "submit" %>
</p> 
<% end %>