<h1> Student details </h1>
<p>fname : <%= @fname %> </p>
<p>lname : <%= @lname %> </p>
<p>fullname : <%= @fullname %> </p>
<p>dob : <%= @dob %> </p>
<p>gender : <%= @gender %> </p>
<p>course : <%= @course %> </p>