<!DOCTYPE html>
<html>
<head>
  <h1 align="center"> ***** Calculators project*****</h1>
  <div class="sidebar">
  <h3>  <%=link_to "Addition", calculators_addition_path=%><br/></h3>
  <h3> <%=link_to "Subtraction", calculators_subtraction_path=%><br/></h3>
</div>

<div class="sidebar" align="right">
   <h3> <%=link_to "Multiplication", calculators_multiplication_path=%><br/></h3>
   <h3> <%=link_to "Division", calculators_division_path=%><br/></h3></h1>
  </div>
  
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #4ef442;">
    <%= yield %>
  </body>
 
    <br /><br /><br /><br /><br /><br /><br /> <br />  
     <h1 align="center"> ******End of project*****</h1>
</html>
