<!DOCTYPE html>
<html>
<head>
  <h1 align="center"> ***** Calculators project*****</h1>
 
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: lightgreen">
    <%= yield %>
  </body>
 
    <br /><br /><br /><br /><br /><br /><br /> <br />  
     <h1 align="center"> ******End of project*****</h1>
</html>
